
<p *ngIf="!countries.length"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>


<mat-stepper linear="true" orientation="vertical" *ngIf="countries.length">
  <mat-step [stepControl]="firstFormGroup" #firstStep>
    <ng-template matStepLabel>Step 1</ng-template>
    <ng-template matStepContent>
      <form [formGroup]="firstFormGroup" class="reg-form">
        <mat-form-field>
          <mat-label>Login</mat-label>
          <input type="email"
                 matInput
                 formControlName="login"
                 [errorStateMatcher]="matcher"
                 placeholder="Ex. email@gmail.com">
          <mat-error *ngIf="loginValidEmailError && !loginRequiredError">Login must be a valid email address</mat-error>
          <mat-error *ngIf="loginRequiredError">Login is required</mat-error>
        </mat-form-field>


        <mat-form-field>
          <mat-label>Password</mat-label>
          <input type="password"
                 matInput
                 formControlName="password"
                 [errorStateMatcher]="matcher">
          <mat-error *ngIf="!controls.password.valid">Password must contain min 1 digit and min 1 uppercase letter</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input type="password"
                 matInput
                 formControlName="passwordConfirm"
                 [errorStateMatcher]="matcher">
          <mat-error *ngIf="!controls.passwordConfirm.valid && !controls.passwordConfirm.hasError('passwordMismatch')">Confirm password is required</mat-error>
          <mat-error *ngIf="controls.passwordConfirm.hasError('passwordMismatch')">Confirm password must be the same as the password</mat-error>
        </mat-form-field>

        <div class="confirmation">
          <mat-checkbox formControlName="agreed">Agree to work for food</mat-checkbox>
          <mat-error *ngIf="!controls.agreed.valid && firstStep.interacted">Please tick the checkbox</mat-error>
        </div>


        <div class="buttons">
          <button mat-flat-button matStepperNext>Go to step 2</button>
        </div>
      </form>
    </ng-template>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <ng-template matStepLabel>Step 2</ng-template>
    <ng-template matStepContent>
      <form [formGroup]="secondFormGroup" class="reg-form">
        <mat-label>Country</mat-label>
        <mat-form-field>
          <mat-select formControlName="country" placeholder="Please select country">
            <mat-option *ngFor="let country of countries" [value]="country">{{country.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="!controls2.country.valid">Country is required</mat-error>

        </mat-form-field>

        <mat-label>Province</mat-label>
        <mat-form-field>

          <mat-select formControlName="province" [placeholder]="provincePlaceHolder">
            <mat-option *ngFor="let province of provinces" [value]="province">{{province.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="!controls2.province.valid">Province is required</mat-error>

        </mat-form-field>


        <div class="buttons">
          <button mat-flat-button matStepperPrevious>Back</button>
          <button mat-flat-button matStepperNext (click)="register()">Save</button>
        </div>
      </form>
    </ng-template>
  </mat-step>
</mat-stepper>


<pre>{{firstFormGroup.value | json}}</pre>
<pre>{{secondFormGroup.value | json}}</pre>
<div class="spinner-container" *ngIf="loaded">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>
